---
---
@import "{{ site.theme }}";

header {
    background: #2b4958ff;
    background-image: none;
}

header h1 {
    width: 100%;
}

header h2 {
    color: #e7e7e7ff;
    width: 100%;
    margin-left: 90px;
}

$header-before-color: #548faa;

@for $i from 1 through 6 {
    #main-content h#{$i}:before{
        color: $header-before-color;
    }
}

.repo-owner {
    margin-top: -30px;
}

#main-content {
    width: 740px;
}

a {
    color: $header-before-color;
}

header a.button {
    background-color: $header-before-color;
    color: #e7e7e7ff;
}

@media only screen and (max-width: 767px) {
  .inner {
    width: 90vw;
  }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  //.inner {
  //  width: 90vw;
  //}
//  #main-content {
//    width: 740px;
//  }
//  header h1, header h2 {
//    width: 740px;
//  }
}