---
---
@import "{{ site.theme }}";

header {
    background: #2b4958ff;
    background-image: none;
}

header h2 {
    color: #e7e7e7ff;
}

$header-before-color: #548faa;

@for $i from 1 through 6 {
    #main-content h#{$i}:before{
        color: $header-before-color;
    }
}

.repo-owner {
    margin-top: -30px;
}

#main-content {
    width: unset;
}

a {
    color: $header-before-color;
}

header a.button {
    background-color: $header-before-color;
    color: #e7e7e7ff;
}